
// Navigation icons
.fa-cog,
.fa-edit,
.fa-folder-open-o,
.fa-bar-chart-o,
.fa-envelope-o,
.fa-pencil,
.fa-bus {

	padding-right: rem( 10px );
	
}

// Social media icons
.fa-google-plus,
.fa-twitter,
.fa-facebook,
.fa-github {

	padding-left: rem( 50px );
	font-size: $fontSize--xl;

}

// Arrows
.fa-caret-down {
	
	display: inline-block;
	padding: rem( 10px ) 0 0 rem( 15px );

	@include mediaQueries( medium ) {
		display: none;
	}

	@include mediaQueries( small ) {
		display: none;
	}

}