<section class="Container Container--header">
	
	<div class="Row--a">

		<div class="Column--3">
			{% include 'snippet-LogoBlock.twig' %}
		</div>
		
		<div class="Column--9">
			{% include 'snippet-NavMenu.twig' %}
		</div>
	
	</div>

</section>