<section class="Container Container--footer">
  
  <div class="Row--a">
    
    <div class="Column--12 u-centerText">
      <p>&copy; {{ now|date( 'Y' ) }}. All rights reserved.</p>
    </div>

  </div>

</section>