.alignnone {
    margin: rem( 5px ) rem( 20px ) rem( 20px ) 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: rem( 5px ) auto rem( 5px ) auto;
}

.alignright {
    float: right;
    margin: rem( 5px ) 0 rem( 20px ) rem( 20px );
}

.alignleft {
    float: left;
    margin: rem( 5px ) rem( 20px ) rem( 20px ) 0;
}

a img.alignright {
    float: right;
    margin: rem( 5px ) 0 rem( 20px ) rem( 20px );
}

a img.alignnone {
    margin: rem( 5px ) rem( 20px ) rem ( 20px ) 0;
}

a img.alignleft {
    float: left;
    margin: rem( 5px ) rem( 20px ) rem( 20px ) 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: rem( 5px ) rem( 3px ) rem( 10px );
    text-align: center;
}

.wp-caption.alignnone {
    margin: rem( 5px ) rem( 20px ) rem( 20px ) 0;
}

.wp-caption.alignleft {
    margin: rem( 5px ) rem( 20px ) rem( 20px ) 0;
}

.wp-caption.alignright {
    margin: rem( 5px ) 0 rem( 20px ) rem( 20px );
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: rem( 11px );
    line-height: rem( 17px );
    margin: 0;
    padding: 0 rem( 4px ) rem( 5px );
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect( rem( 1px ), rem( 1px ), rem( 1px ), rem( 1px ) );
	position: absolute !important;
	height: rem( 1px );
	width: rem( 1px );
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: rem( 3px );
	box-shadow: 0 0 rem( 2px ) rem( 2px ) rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: rem( 14px );
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: rem( 5px );
	line-height: normal;
	padding: rem( 15px ) rem( 23px ) rem( 14px );
	text-decoration: none;
	top: rem( 5px );
	width: auto;
	z-index: 100000;
}